@font-face {
    font-family: "balsa";
    src: url("BalsamiqSans-Regular.ttf") format("opentype");
}

/* =========== TOUT L'ÉCRAN =========== */
body {
    background-color: #175387;
    margin: 0px;
    overflow: hidden;
    font-family: "balsa";
}

#zappliContainer {
    background-color: hsl(208, 70%, 31%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* =========== MENU DES ACTIONS =========== */
#titleBar {
    background: linear-gradient(0deg, #185286 0%, #0c1446 100%);
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#titleBar .toggleButton {
    width: 45px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    transition: 0.2s;
    cursor: pointer !important;
    color: white;
    z-index: 99;
}

#titleBar .toggleButton:hover {
    background-color: #343B48;
    cursor: pointer !important;
}

#titleBar .toggleButton:active {
    background-color: #4593d8;
}

#titre {
    -webkit-app-region: drag;
    color: white;
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: calc(100% - 100px);
    font-size: small;
    font-weight: lighter;
}

.minimize {
    background-image: url("minimize.png");
}

.maximize {
    background-image: url("maximize.png");
}

.close {
    background-image: url("close.png");
}

.restore {
    background-image: url("restore.png");
}

.topBtn {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    transition: 0.2s;
    cursor: pointer !important;
    color: white;
    padding: 0px;
}

.topBtn:hover {
    background-color: #343B48;
    cursor: pointer;
}

.topBtn:active {
    background-color: #4593d8;
}

#actionsMenu {
    background-color: #185286;
    height: 60px;
    width: 100%;
    position: relative;
    display: flex;
    color: white;
}

#actionsMenu::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    cursor: ns-resize;
}

#baseActions {
    display: flex;
    width: 95%;
    height: 100%;
    justify-content: left;
}

.actionBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 0px 5px;
    border-radius: 3px;
}

.actionBtn * {
    cursor: pointer !important;
}

.actionBtn:hover {
    background-color: #1c63a0;
    transition: all 0.3s ease-in-out;
}

.actionBtn i {
    font-size: 30px;
}

.actionBtn p {
    padding: 0px;
    margin: 0px;
    font-family: "balsa";
    font-size: 80%;
    text-align: center;
}

#deplace {
    background-color: #1c63a0;
}

#aideNotifs {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aideNotifs>div:hover {
    color: #FFD718;
}

#aide {
    cursor: pointer;
    margin-bottom: 2px;
}

#notifs {
    cursor: pointer;
    margin-top: 2px;
}

/* =========== BARRE DE RESIZAGE =========== */
#topBottomMoving {
    background-color: #0c1446;
    height: 4px;
    width: 100%;
    cursor: ns-resize;
}

/* =========== PARTIE BASSE DE l'ÉCRAN =========== */
#mainContent {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
}

.mainDiv {
    position: relative;
}

/* =========== AFFICHAGE DES BOUTONS DU BAS =========== */

.cardsNumber input[type="number"] {
    height: 20px;
    font-size: 20px;
    margin-left: 10px;
}

.cardsNumber {
    display: flex;
    align-items: center;
}

.cardsNumber label {
    text-align: end;
}

#delAddFolderChooser {
    color: white;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    width: calc(50px);
    position: absolute;
    top: 5px;
    left: calc(100% - 55px);
    z-index: 99;
}

.addFolderChooser,
.delFolderChooser {
    cursor: pointer;
    transition: all 0.3s;
    width: 40%;
    background-color: #68A4F1;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

.delFolderChooser:hover,
.addFolderChooser:hover {
    background-color: #2a79bd;
    transition: all 0.3s;
}

.addFolderChooser {
    display: none;
}

#top {
    height: 90%;
    width: 100%;
}

#bottom {
    height: 10%;
    width: 100%;
}

.nbDiv1 .affichageBtns {
    height: calc(15% - 6vh);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "balsa";
    color: white;
    background-color: #0c1446;
    font-size: medium;
    padding: 2vh 3vw;
    margin: 1vh 0vw;
}

.nbDiv1 .affichageBtns i {
    font-size: 30px;
}

.nbDiv2 .affichageBtns {
    height: calc(15% - 6vh);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "balsa";
    color: white;
    background-color: #0c1446;
    font-size: small;
    padding: 2vh 3vw;
    margin: 1vh 0vw;
}

.nbDiv2 .affichageBtns i {
    font-size: 20px;
}

.nbDiv3 .affichageBtns {
    height: calc(15% - 6vh);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "balsa";
    color: white;
    background-color: #0c1446;
    font-size: smaller;
    padding:1vh 0.5vw;
    margin: 1vh 0vw;
}

.nbDiv3 .affichageBtns i {
    font-size: 15px;
}

.nbDiv3 .affichageBtns>div {
    margin: 5px 5px;
}
.nbDiv4 .affichageBtns {
    height: calc(15% - 6vh);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "balsa";
    color: white;
    background-color: #0c1446;
    font-size: smaller;
    padding: 1vh 0.5vw;
    margin: 1vh 0vw;
}

.nbDiv4 .affichageBtns i {
    font-size: 15px;
}

.nbDiv4 .affichageBtns>div {
    margin: 5px 5px;
}
.nbDiv5 .affichageBtns {
    height: calc(15% - 6vh);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "balsa";
    color: white;
    background-color: #0c1446;
    font-size: smaller;
    padding: 1vh 0.5vw;
    margin: 1vh 0vw;
}

.nbDiv5 .affichageBtns i {
    font-size: 15px;
}

.nbDiv5 .affichageBtns>div {
    margin: 5px 5px;
}

.affichageBtns>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
}
.affichageBtns{
    z-index: 99;
}
#back,
#play,
.zero,
.backToChooser {
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

#back:hover,
#play:hover,
.zero:hover,
.backToChooser:hover {
    color: #2a79bd;
    transition: all 0.3s;
}

#back i {
    transform: rotate(-180deg);
}

/*#folder2,
#folder3 {
    display: none;
}*/


/* =========== AFFICHAGE DES CARTES =========== */
#cardsContainer {
    background-color: white;
    height: calc(100%);
    width: calc(100%);
    transition: all 0.5s ease-in-out;
}

#affichage {
    width: 100%;
    height: calc(100%);
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#affichage>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 100%;
}

#affichage>div:nth-child(2),
#affichage>div:nth-child(3),
#affichage>div:nth-child(4),
#affichage>div:nth-child(5) {
    border-left: 1px solid #185286;
}

.mainDiv:last-child .addFolderChooser {
    display: block;
}

.nbDiv5 #addFolderChooser5 {
    display: none !important;
}

.nbDiv1 .delFolderChooser {
    display: none !important;
}

.nbDiv1 {
    width: 100%;
    height: 100%;
    font-size: xx-large;
}

.nbDiv2 {
    width: 50%;
    height: 100%;
    font-size: large;
}

.nbDiv3 {
    width: calc(100% / 3);
    height: 100%;
    font-size: medium;
}

.nbDiv4 {
    width: 25%;
    height: 100%;
    font-size: medium;
}

.nbDiv5 {
    width: 20%;
    height: 100%;
    font-size: small;
}

.oneCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #68A4F1;
    width: 100%;
    height: 90%;
}

.affichageMessage,
.affichageDesCartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 85%;
}

.nbDiv1 .affichageMessage>p {
    width: 50%
}

.affichageMessage>p {
    width: 90%;
    text-align: center;
}

.dropZone2 {
    border: 6px dashed #68A4F1;
    margin: 10px;
    border-radius: 3px;
    color: #68A4F1;
    font-size: 80%;
    text-align: center;
    cursor: grab;
    padding: 5vh 5vw;
}

.dropZone2 p {
    padding-top: 5px;
    font-size: 130% !important;
}

.folderSelector {
    display: flex;
    flex-direction: column;
}

.folderSelector label {
    background-color: #68A4F1;
    color: white;
    padding: 1vh 2vw;
    border-radius: 3px;
    cursor: pointer;
    border: outset 3px #1c63a0;
    text-align: center;
    margin-bottom: 10px;
}

.folderSelector * {
    cursor: pointer;
}

.folderSelector label:hover {
    border-style: inset;
    color: #0c1446;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image p { 
    padding: 5px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    cursor: pointer;
    background-color: white;
    font-size: x-large;
}

.img {
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 2px lightgrey;
    border: 1px solid lightgray;
    opacity: 0;
}

.exergue {
    box-shadow: 0px 0px 5px 5px #FFD718 !important;
}

.visible {
    opacity: 0;
}

.numero {
    min-width: 30px;
    min-height: 30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0px rgb(126, 126, 126);
    z-index: 5;
    font-size: large;
}

*,
*::after,
*::before {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

.cardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}