<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Zappli</title>
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../public/styles.css">

</head>

<body>
    <div id="zappliContainer">
        <div id="titleBar">
            <button id="showHideMenus" class="toggleButton" title="menu"></button>
            <div id="titre">zappli</div>
            <button class="topBtn minimize" id="minimize" title="Réduire"></button>
            <button class="topBtn maximize" id="maxRes" title="Agrandir"></button>
            <button class="topBtn close" id="close" title="Fermer"></button>
        </div>
        <div id="actionsMenu">
            <div id="baseActions">
                <div id="deplace" class="actionBtn"><i class="fa-solid fa-maximize"></i>
                    <p>Move image</p>
                </div>
                <div id="efface" class="actionBtn"><i class="fa-solid fa-eraser"></i>
                    <p>Hide/show image</p>
                </div>
                <div id="change" class="actionBtn"><i class="fa-solid fa-rotate"></i>
                    <p>Replace image</p>
                </div>
                <div id="surligne" class="actionBtn"><i class="fa-solid fa-highlighter"></i>
                    <p>Highlight image</p>
                </div>
                <div id="numerote" class="actionBtn"><i class="fa-solid fa-hashtag"></i>
                    <p>Number pictures</p>
                </div>
                <div id="back" class="actionBtn" onclick="getBack(event)"><i class="fa-solid fa-circle-play"></i>
                    <p>Back</p>
                </div>
                <div id="fond" class="actionBtn">
                    <input type="file" style="display: none;" id="fondPicker" class="fondPicker"
                        onchange="changerFond(event)">
                    <label for="fondPicker" style="text-align: center; cursor: pointer;"><i
                            class="fa-solid fa-paintbrush"></i><br>
                        <p>Change background image</p>
                    </label>
                </div>
                <div id="supprimerFond" class="actionBtn" onclick="supprimerFond(event)"><i
                        class="fa-solid fa-xmark"></i>
                    <p>Remove background image</p>
                </div>
            </div>
            <div id="aideNotifs">
                <div id="aide"><i class="fa-regular fa-circle-question"></i></div>
                <div id="notifs"><i class="fa-solid fa-circle-exclamation"></i></div>
            </div>
        </div>
        <div id="topBottomMoving"></div>
        <div id="mainContent">
            <div id="cardsContainer">
                <div id="affichage">
                    <div class="nbDiv1 mainDiv" id="affichage1" ondrop="getDropFiles(event)">
                        <div class="oneCardContainer">
                            <div class="dropZone2" id="dropImages1">
                                <p>Drag and drop a folder,<br> files <br> or a spreadsheet</p>
                                <p>(.xlsx, .xls, .csv, .numbers, .ods) ou (.jpg, .png, .gif, .webp)</p>
                            </div>
                            <p>OR</p>
                            <div class="folderSelector" id="folderSelector">
                                <input type="file" webkitdirectory directory multiple style="display: none;"
                                    id="folderChosen1" class="filepicker" onchange="getFilesOrFolders(event)">
                                <label for="folderChosen1">Select a folder</label>
                                <input type="file" multiple style="display: none;" id="folderChosen2-1"
                                    class="filepicker" onchange="getFilesOrFolders(event)">
                                <label for="folderChosen2-1">Select one or several files</label>
                            </div>
                        </div>
                        <div class="affichageMessage" id="affichageMessage1" style="display: none;">
                            <p>Ready to go! Click on &#9655; below to draw cards.</p>
                        </div>
                        <div class="affichageDesCartes" id="affichageDesCartes1" style="display: none;">
                        </div>
                        <div class="affichageBtns" style="display: none;">
                            <div id="top">
                                <div class="cardsNumber" id="cardsNumber1">
                                    <label for="cardsNumber1">Cards<br>number</label>
                                    <div><input type="number" value="3" min="1" max="24"></div>
                                </div>
                                <div id="play" onclick="clickOnPlay(event)"><i class="fa-solid fa-circle-play"></i>
                                </div>
                                <div id="zero1" class="zero" onclick="erase(event)"><i class="fa-solid fa-eraser"></i>
                                </div>
                                <div class="backToChooser" onclick="backToChooser(event)"><i
                                        class="fa-regular fa-folder-open"></i>
                                </div>
                            </div>
                            <div id="bottom">
                                <label for="vol">Zoom cards : <span id="zoomValue1" class="zoomValue">100%</span> </label>
                                <div class="zoom"><input type="range" id="vol1" name="vol" min="20" max="200" value="100" oninput="zommOnCards(event)"></div>
                            </div>
                        </div>
                        <div id="delAddFolderChooser">
                            <div class="addFolderChooser" id="addFolderChooser1" title="ajouter un dossier"
                                onclick="ajouterZone(this)"><i class="fa-regular fa-square-plus"></i>
                            </div>
                            <div class="delFolderChooser" id="delFolderChooser1" title="supprimer un dossier"
                                onclick="supprimerZone(this)"><i class="fa-regular fa-square-minus"></i></div>
                        </div>
                        <div class="listeAffichable" style="display:none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.jquery = window.$ = require('jquery');
        global.jQuery = require('jquery')
    </script>
    <script src="../../node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="home.js"></script>
    <div id="storage" style="display: none;"></div>
    <div id="" class="mainDir" style="display: none;"></div>
</body>

</html>