<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Zappli</title>
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../public/styles.css">

</head>

<body>
    <div id="zappliContainer">
        <div id="titleBar">
            <button id="showHideMenus" class="toggleButton" title="menu"></button>
            <div id="titre">zappli</div>
            <button class="topBtn minimize" id="minimize" title="Reduce"></button>
            <button class="topBtn maximize" id="maxRes" title="Enlarge"></button>
            <button class="topBtn close" id="close" title="Close"></button>
        </div>
        <div id="actionsMenu">
            <div id="baseActions">
                <div id="deplace" class="actionBtn"><i class="fa-solid fa-maximize"></i>
                    <p>Move image</p>
                </div>
                <div id="efface" class="actionBtn"><i class="fa-solid fa-eraser"></i>
                    <p>Hide/show image</p>
                </div>
                <div id="change" class="actionBtn"><i class="fa-solid fa-rotate"></i>
                    <p>Replace image</p>
                </div>
                <div id="surligne" class="actionBtn"><i class="fa-solid fa-highlighter"></i>
                    <p>Highlight image</p>
                </div>
                <div id="numerote" class="actionBtn"><i class="fa-solid fa-hashtag"></i>
                    <p>Number pictures</p>
                </div>
                <div id="fond" class="actionBtn">
                    <input type="file" style="display: none;" id="fondPicker" class="fondPicker">
                    <label for="fondPicker" style="text-align: center; cursor: pointer;"><i class="fa-solid fa-paintbrush"></i><br><p>Change background image</p></label>
                </div>
            </div>
            <div id="zero"><i class="fa-solid fa-rotate-left"></i>
                <p>Erase all</p>
            </div>
            <div id="aideNotifs">
                <div id="aide"><i class="fa-regular fa-circle-question"></i></div>
                <div id="notifs"><i class="fa-solid fa-circle-exclamation"></i></div>
            </div>
        </div>
        <div id="topBottomMoving"></div>
        <div id="mainContent">
            <div id="folderChooser">
                <div class="oneFolder" id="folder1">
                    <div class="folderTitle" id="titleFolder1">
                        <div></div>
                    </div>
                    <div class="folderSelector" id="folderSelector1">
                        <input type="file" webkitdirectory directory multiple style="display: none;" id="folderChosen1"
                            class="filepicker">
                        <label for="folderChosen1"><i class="fa-regular fa-folder-open"></i><br>Choose a folder</label>
                    </div>
                    <div class="cardsNumber" id="cardsNumber1">
                        <div><input type="number" value="3" min="1" max="24"></div>
                        <label for="cardsNumber1">Choose a number of cards</label>
                    </div>
                    <div class="submitOneFolder" id="submitOneFolder1">
                        <i class="fa-regular fa-circle-play"></i>
                        <div>Display images</div>
                    </div>
                </div>
                <div class="oneFolder" id="folder2">
                    <div class="folderTitle" id="titleFolder2">
                        <div></div>
                    </div>
                    <div class="folderSelector" id="folderSelector2">
                        <input type="file" webkitdirectory directory multiple style="display: none;" id="folderChosen2"
                            class="filepicker">
                        <label for="folderChosen2"><i class="fa-regular fa-folder-open"></i><br>Choose a folder</label>
                    </div>
                    <div class="cardsNumber" id="cardsNumber2">
                        <div><input type="number" value="3" min="1" max="24"></div>
                        <label for="cardsNumber2">Choose a number of cards</label>
                    </div>
                    <div class="submitOneFolder" id="submitOneFolder2">
                        <i class="fa-regular fa-circle-play"></i>
                        <div>Display images</div>
                    </div>
                </div>
                <div class="oneFolder" id="folder3">
                    <div class="folderTitle" id="titleFolder3">
                        <div></div>
                    </div>
                    <div class="folderSelector" id="folderSelector3">
                        <input type="file" webkitdirectory directory multiple style="display: none;" id="folderChosen3"
                            class="filepicker">
                        <label for="folderChosen3"><i class="fa-regular fa-folder-open"></i><br>Choose a folder</label>
                    </div>
                    <div class="cardsNumber" id="cardsNumber3">
                        <div><input type="number" value="3" min="1" max="24"></div>
                        <label for="cardsNumber3">Choose a number of cards</label>
                    </div>
                    <div class="submitOneFolder" id="submitOneFolder3">
                        <i class="fa-regular fa-circle-play"></i>
                        <div>Display images</div>
                    </div>
                </div>
                <div id="delAddFolderChooser">
                    <div id="addFolderChooser" title="ajouter un dossier"><i class="fa-regular fa-square-plus"></i>
                    </div>
                    <div id="delFolderChooser" title="supprimer un dossier" style="display: none;"><i
                            class="fa-regular fa-square-minus"></i></div>
                </div>
            </div>
            <div id="leftRightMoving"></div>
            <div id="cardsContainer">
                <div id="affichage">
                    <div class="nbDiv1" id="affichage1"></div>
                </div>
                <div id="affichageBtns">
                    <div id="back"><i class="fa-solid fa-circle-play"></i>
                        <div>Go back</div>
                    </div>
                    <div id="play"><i class="fa-solid fa-circle-play"></i>
                        <div>Display images</div>
                    </div>
                    <div id="fullScreen">
                        <i id="toFullScreen" class="fa-solid fa-up-right-and-down-left-from-center"></i>
                        <div id="toFullScreenText">Full screen</div>
                        <i id="toRegularScreen" style="display: none;"
                            class="fa-solid fa-down-left-and-up-right-to-center"></i>
                        <div id="toRegularScreenText" style="display: none;">Exit full screen</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        window.jquery = window.$ = require('jquery');
        global.jQuery = require('jquery')
    </script>
    <script src="../../node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="home.js"></script>
</body>

</html>