<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>FAQ</title>
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="faqStyles.css">

</head>
<body>
    <div id="titleBar">
        <div id="titre">zappli</div>   
        <button class="topBtn minimize" id="minimize" title="Réduire"></button>
        <button class="topBtn maximize" id="maxRes" title="Agrandir"></button>
        <button class="topBtn close" id="close" title="Fermer"></button>
    </div>
    <div id="content">
        <h1>FAQ</h1>
        <p>Cette partie se remplira avec les réponses à vos futures questions</p>
        <h4>Le dossier que j'ai sélectionné ne contient aucune image d'après la zappli alors que j'ai des images dans ce dossier</h4>
        <ul>
            <li>Le format de vos images est-il standard ? (.png, .jpg, .jpeg, .webp, .gif, .tiff)</li>
            <li>Sous windows : si vous faites un click droit sur le dossier, vous propose-t-il de l'extraire ? Si oui, il s'agit d'une archive et non d'un dossier, il faut donc extraire les fichiers pour pouvoir les utiliser</li>
        </ul>
    </div>
    <script>
        window.jquery = window.$ = require('jquery');
        global.jQuery = require('jquery')
    </script>
    <script src="../../node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="faq.js"></script>
    
</body>
</html>