<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Nouvelle version</title>
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="newVersion.css">

</head>
<body>
    <div id="message">

    </div>
    <div id="stopNotif">
        <span id="dontShow">Ne plus me montrer ce message</span>
    </div>
    <script>
        window.jquery = window.$ = require('jquery');
    </script>
    <script src="newVersion.js"></script>
</body>